form {
  background-color: aqua;
  text-align: center;
  width: 300px;
  height: 400px;
  padding: 20px 10px;
  margin: auto;
}
p {
  display: flex;
  flex-direction: column;
}
input {
  padding: 10px;
}
button {
  padding: 10px;
}
